body {
	background-color: #f7f5f0;
}

#pageWrapper {
	position: relative;
	min-height: 100vh;
    text-align: center;
    max-width: 85%;

}

header {
	font-size: 1.25em;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #0499ff;
	text-align: center;
}

main {
	font-size: 0.85em;
	font-family: 'IBM Plex Serif', serif;
	color: #f7f5f0;
	    max-width: 90%;


}

#informedConsent {
	width: 75%;
	margin: auto;
}

form {
	padding: 25px;
	padding-bottom: 45px;
	background-color: #ffdf90;
	width: 800px;
	position: absolute;
	left : 20%;
}

input[type=button], input[type=submit], input[type=reset] {
	font-size: 1.25em;
	background-color: #f7f5f0;
	border: none;
	color: black;
	text-decoration: none;
	cursor: pointer;
	margin: 0;
	position: absolute;
	left: 45%;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background-color: #000000;
	color: yellow;
}

footer {
	font-size: 0.75em;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #CDBEAB;
	color: #241400;
	text-align: center;
}

footer p {
	width: 50%;
	margin: auto;
	padding-bottom: 0.5em;
}